################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_auth_server/.vs/node_auth_server/v14/.suo
/node_auth_server/node_auth_server/node_modules/*
/node_auth_server/node_auth_server/obj
/node_auth_server/.vs
